/* 聯絡我們的內容 */

u {
    text-decoration: #f00 underline;
}

div {
	margin:4px;
	border:0;
	padding:0;
	letter-spacing: 5px;
}

.container {
	width: 1024px;
	margin: 0 auto;
	text-align: center;
}






/* 頭部與目錄 */

body {
 max-width: 1280px;
 margin: 0 auto;	
}

.title {
  color: #66DD00;
  position: relative;
  left: 50px;
}

.smalltitle {
  color: #BBBB00;
}

nav > ul {
    background-color: rgb(230, 230, 230);
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: inherit;
    display: block;
    font-size: 1.2rem;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(115, 115, 115);
    color: white;
}

.flex-nav {
    display: flex;
    justify-content: right;
}


/* 尾頁 */


footer{
  padding: 16px 0;
  border-top: 1px solid #8f8f8f;
  text-align: center;
  font-size: 14px;
  margin-top: 70px;
}
